services:
  frontend:
    image: tienlen-frontend
    container_name: tienlen-frontend
    build:
      context: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules

  backend:
    image: tienlen-backend
    container_name: tienlen-backend
    build:
      context: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    environment:
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - redis

  redis:
    image: redis:7.2-alpine
    container_name: tienlen-redis
    ports:
      - "6379:6379"
